path {
  stroke-linejoin: round;
}
.land-glow {
  fill-opacity: .2;
  filter: url(#blur);
}
.land-fill {
  fill: #fff;
}
.state-boundary {
  fill: none;
  stroke: #777;
  stroke-width: .70px;
}
.county-boundary {
  fill: none;
}
.land-fill,
.county-boundary {
  stroke: #777;
  stroke-width: .35px;
}
