path {
  stroke-linejoin: round;
  stroke: rgba(255,255,255,0.9);
  stroke-width: .7px;
}
.land-glow {
  fill-opacity: .2;
  filter: url(#blur);
}
.land-fill {
  fill: rgba(0,0,0,0.1);
  stroke: none;
}
.state-boundary {
  fill: none;
  stroke: rgba(255,255,255,0.9);
  stroke-width: .70px;
}
.county-boundary {
  fill: none;
  stroke: #FEC503;
  stroke-width: .25px;
}

